{% from "components/button.njk" import button %}
{% from "components/menu-buttons-secondary.njk" import menuButtonsSecondary %}

{%
	set menuItems = [
		{ text: "All", href: "#" },
		{ text: "Mens", href: "#" },
		{ text: "Womens", href: "#" },
		{ text: "Kids", href: "#" }
	]
%}

<section class="hero">
	<div class="container">
		<figure>
			<picture>
				<source
					srcset="/src/assets/images/img-hero-desktop-lg.png"
					media="(min-width: {{ breakpoints.xxl }}px)"
				/>
				<source
					srcset="/src/assets/images/img-hero-desktop.png"
					media="(min-width: {{ breakpoints.md }}px)"
				/>
				<img src="/src/assets/images/img-hero-mobile.png" alt="Woman in sunglasses wearing a polka dot dress and a light trench coat" fetchpriority="high" />
			</picture>
			<figcaption>
				<div class="hero__btn-wrapper">
					{{ button(class = "btn--secondary bordered-corners", href = "#", text = "Shop Now", icon = "/src/assets/images/icon-arrow-up-right.svg") }}
				</div>
			</figcaption>
		</figure>
		<div class="hero__text">
			<header>
				{{ menuButtonsSecondary(menuItems, ariaLabel = "Products filter") }}
				<h1>Elevate Your Style with StyleLoom</h1>
				<p>
					Explore a world of fashion at StyleLoom, where trends meet affordability.
					Immerse yourself in the latest styles and seize exclusive promotions.
				</p>
			</header>
			<div class="hero__counter-columns">
				<div class="hero__counter-item">
					<h2>1,500 + <small>Fashion Products</small></h2>
				</div>
				<div class="hero__counter-item">
					<h2>50 + <small>New arrivals every month.</small></h2>
				</div>
				<div class="hero__counter-item">
					<h2>30% <small>OFF on select items.</small></h2>
				</div>
				<div class="hero__counter-item">
					<h2>95% <small>Customer Satisfaction Rate</small></h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.hero -->
