{% from 'components/menu-buttons-secondary.njk' import menuButtonsSecondary %}
{% from 'components/button.njk' import button %}
{% from 'components/product-card.njk' import productCard %}
{% from 'data/products.njk' import products %}
{%
	set menuItems = [
		{ text: "All", href: "#"},
		{ text: "Mens", href: "#" },
		{ text: "Womens", href: "#", active: true  },
		{ text: "Kids", href: "#" }
	]
%}
{%
	set gridItems = [
		products.aLineDress,
		products.maxiDress,
		products.eveningGown,
		products.urbanHandbag,
		products.sunHat,
		products.printedScarf
	]
%}

<section class="latest-collection">
	<div class="container">
		<header class="latest-collection__header">
			<h2>Elevate Your Style with Our Latest Collection</h2>
			<p>Each piece is crafted to enhance your fashion statement.</p>
			{{ menuButtonsSecondary(menuItems) }}
		</header>
		<div class="latest-collection__grid">
			<div class="holder">
				{% for item in gridItems %}
					{{ productCard(item) }}
				{% endfor %}
				{{ button(class = "", loadMore = true, text = "View All", moreText = "View All", lessText = "Hide", icon = "/src/assets/images/icon-arrow-down.svg") }}
			</div>
		</div>
	</div>
</section>
<!-- /.latest-collection -->
