<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ pagetitle + " — Style.Loom" if pagetitle else "Style.Loom" }}</title>
	</head>
	<body>
		<div class="wrapper">
			{% include "./_header.njk" %}
			<main>
				{% block main %}
				{% endblock %}
			</main>
			<!-- /.site-main -->
			{% include "./_footer.njk" %}
		</div>
		<script type="module" src="/src/assets/js/main.ts"></script>
	</body>
</html>
